<!-- top bar he -->
<mat-toolbar class="top-bar">
  <button class="toggle-button" mat-icon-button *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class="title">
    Open book Library
  </div>
    
</mat-toolbar>
<mat-sidenav-container class="container">
 
  <!-- -----------------left sidebar ----------------------- -->
  <mat-sidenav class="left-col">
    <button class="home" (click)="homePage()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <div class="home-text"> Home </div>
    </button>

    <section class="trending-subjects">
      <ul class="tw-list-none tw-pl-0 lists">
        <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px trending" *ngFor="let subject of trendingSubjects"
          routerLink="/trending-subject/{{ subject.name }}">
          {{ subject.name }}
        </li>
      </ul>
    </section>
  </mat-sidenav>
  <!-- left column with search bar, table view -->
  <mat-sidenav-content class="right-col">
    <div class="nav">
      <div class="search-bar">
        <mat-icon class="icon search-icon">search</mat-icon>
        <input class="search-input" [formControl]="bookSearch" value="khk" name="searchKeySidebar" #boxSidebar
          type="text" placeholder="Search..." (keyup)="getValue(boxSidebar.value)" (keyup.enter)="getBooks()">
        <div class="icon close-icon">
          <mat-icon *ngIf="isCloseDisplay" class="icon close-icon" (click)="clearInputText()">close</mat-icon>
        </div>
          <button class="icon search-button" (click)="getBooks()"><mat-icon class="">search</mat-icon></button>
      </div>
    </div>
    <div *ngIf="initilize; else elseBlocks" class="welcome">      
      Welcome to Open Library
    </div>
    <ng-template #elseBlocks>
      <front-end-internship-assignment-subjects class="subject-api" [title]="titleAuthorName">
      </front-end-internship-assignment-subjects>
    </ng-template>
    
  </mat-sidenav-content>
</mat-sidenav-container>