  <div class="continer-subject">
    <div class="popup" *ngIf="isLoader; else elseBlock">     
        <ngx-ui-loader class="loader" [loaderId]="loaderId"></ngx-ui-loader>
    </div>
  
    <ng-template #elseBlock>
      <div *ngIf="allBooksbytitle.length > 0; else elseBlock2">
        <front-end-internship-assignment-table-view
        [booksListbyTitle]="allBooksbytitle"
        [subjectName]="titleAuthorName"
        [isTrending]="isTrending"
        [isTitle]="isTitle"
        [offset]="offset"
        [limit]="limit"
        [total_books]="total_books"
        (pageUpdate)="pageUpdate($event)"
        (limitUpdate)="limitUpdate($event)"
        ></front-end-internship-assignment-table-view>
      </div>
      <ng-template #elseBlock2>
        <div class="popup">Sorry! No result found..</div>
      </ng-template>
    </ng-template>
  </div>

