.container-subject{
   height: 100%;
}
.popup{
   height: calc(100vh - 120px);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: xx-large;
   color: rgb(222, 13, 13);
 }

 .loader{
   
  }
